# Server
JWT_SECRET=dev-secret-change-in-prod

# MySQL
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASS=123456
MYSQL_DB=nft

# IPFS (Pinata)
# Recommended: use API key + secret
PINATA_API_KEY=
PINATA_API_SECRET=

# Optional JWT
PINATA_JWT=

# Optional
IPFS_GATEWAY=https://gateway.pinata.cloud
